/*
* jQuery Flight Indicators plugin
* By Sébastien Matton (seb_matton@hotmail.com)
* Published under GPLv3 License.
*
* https://github.com/sebmatton/jQuery-Flight-Indicators
*/

/* Global block of an indicator*/

div.instrument {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.attitude div.roll {
    transform: rotate(0deg);
    div.pitch {
      top: 0%;
    }
  }
  &.heading div.yaw, &.vario div.vario {
    transform: rotate(0deg);
  }
  &.speed div.airspeed {
    transform: rotate(90deg);
  }
  &.altimeter div {
    &.pressure {
      transform: rotate(40deg);
    }
    &.needle, &.needleSmall {
      transform: rotate(90deg);
    }
  }
}

/* The box containing any element of an indicator */

/* Default transformations */