<!-- Move buttons -->
<div class="row">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-2">
      <button class="btn btn-default">F</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-default">L</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-default">R</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-2">
      <button class="btn btn-default">B</button>
    </div>
  </div>
</div>
